<div style="position:absolute; top: 380px">
<h1>Results</h1>
<table border="1" cellpadding="5">

	
    <% if @query.to_i==1%>
	<tr>
	<th>cname</th><th>phone</th>	
	</tr>
    <% @results.each do |row| %>
	<tr><td><%= row["cname"] %></td><td><%= row["phone"]%></td></tr>
	<% end %>
    <% end %>

    <% if @query.to_i == 2%>
	<tr>
	<th>vin</th>
	</tr>
	<% @results.each do |row| %>
	<tr><td><%= row["vin"] %></td></tr>
	<% end %>
    <% end %>

	<% if @query.to_i == 3%>
	<tr>
	<th>seller</th>
	</tr>
	<% @results.each do |row| %>
	<tr><td><%= row["seller"] %></td></tr>
	<% end %>
    <% end %>
	
</table>
</div>
